.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 2px solid #d8dee4;
  height: 60px;
  width: 100%;
  background-color: cadetblue;
  position: fixed;
  z-index: 10;
}

.auth,
.links {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.auth {
  justify-content: flex-start;
}

.links {
  justify-content: flex-end;
}